<div class="product__gallery" data-product-gallery> 
    <div class="product__thumbnails">
        {% if product.images.size > 1 %}
            <ul>
            {% for image in product.images %}
                {% if image.alt contains product.selected_or_first_available_variant.option2 %}
                    <li>
                        <a href="#" data-thumbnail-index={{ forloop.index0 }} data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                            <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="product__slider" data-product-slider>
        {% for image in product.images %}
            {% if image.alt contains product.selected_or_first_available_variant.option2 %}
                <div class="product__image" data-product-image-index={{ forloop.index0 }}>
                {% capture wrapper_class %}
                    {%- unless featured_image == image -%}
                    {%- endunless -%}
                {% endcapture %}

                {% render 'responsive-image'
                    image: image,
                    max_width: 700,
                    max_height: 800,
                    image_attributes: "data-product-featured-image",
                    wrapper_class: wrapper_class,
                    wrapper_attributes: "data-product-image-wrapper",
                %} 
                </div>
            {% endif %} 
        {% endfor %}
    </div>
</div>
